@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Monda:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Monda:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
}
header{
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid; */
    background-color: #F7F4ED;
    padding: 0px 65px;
    border-bottom: 1px solid ;
}
header>aside{
    height: 72px;
    width: 200px;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
header>aside>img{
    height: 25px;
    
}
header > nav{
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header>nav>ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* border: 1px solid; */
}
header>aside>ul>li{  
  font-family: "Open Sans", sans-serif;

}
button{
    padding: 8px 14px;
    background-color: black;
    color: white;
    border-radius: 20px;
    /* font-size: 12px; */
    font-weight: 500;
}
main{
    height: 80vh;
    /* border: 1px solid; */
    background-color: #F7F4ED;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   
}
main>article{
    height: 80vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 15px;
    padding-left: 95px;
    
}
main>article>h1{
    font-size: 120px;
    font-weight: 500;
    
}
main>aside{
    height: 80vh;
    width: 30%;
    
}
main>aside{
    background-image: url(https://miro.medium.com/v2/format:webp/4*SdjkdS98aKH76I8eD0_qjw.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 20px;
}
footer{
    height: 10vh;
    background-color: #F7F4ED;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer>ul{
    /* width: 50%; */
    height: 10vh;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: 13px;
}